[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0"
scrapinghub = {version = ">=2.4.0", extras = ["msgpack"]}
jinja2 = ">=2.7.3"
sqlitedict = "==1.6.0"
s3fs = "==0.2.0"
google-cloud-storage = "==1.38.0"
bloom-filter = "*"
black = "==22.8.0"
tenacity = "*"

[dev-packages]
flake8 = "*"
black = "==19.10b0"
mypy = "*"
pylint = "*"
pytest = "*"
twine = "*"
ipython = "*"
grip = "*"
types-requests = "*"
types-setuptools = "*"
types-pyyaml = "*"

[requires]
python_version = "3.8"
