[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
ipython = "*"
pdbpp = "*"

[packages]
pyaml = "*"
retrying = "*"
scrapinghub = "*"
jinja2 = "*"
sqlitedict = "*"
s3fs = "*"
boto3 = "*"
msgpack-python = "*"
click = "*"

[requires]
python_version = "3.6"
